#node modules
node_modules

#api key and email
config.js
config.py
#tree raw data
2015_Street_Tree_Census.csv
#database link
hosturl.py
__pycache__

.env

NewYorkCityTruckRoutes_20231205.geojson

.ipynb_checkpoints