<!DOCTYPE html>
<html lang="en-us">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Air Quality in NYC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="/apidoc"><b>API Doc</b></a>
      <a class="nav-item nav-link " href="/about">About</a>
    </div>
  </div>
</nav>
  <head>
    <meta charset="UTF-8" />
    <title>Project Three</title>

    <!-- Leaflet CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />

    <!-- Leaflet JavaScript code -->
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>

    <!-- D3 library -->
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <!-- leaflet-choropleth JavaScript -->
    <script type="text/javascript" src="static/js/choropleth.js"></script>

    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <!-- <link rel="stylesheet" type="text/css" href="static/css/navi.css" /> -->

  </head>
  <body>
    <div class="col-md-12 jumbotron text-center">
        <h1>API User Manual</h1>
      <div class="container-fluid text-center">
        <h5>APIs:</h5>
        <hr>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Route</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>/</td>
              <td>Home Page</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>/about</td>
              <td>About Page</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>/apidoc</td>
              <td>API User Manual</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>/get_chart_data/chart?geoid={}&chartid={}</td>
              <td>Available geoid and their location:
                <ul>
                  <li>1:Bronx</li>
                  <li>2:Brooklyn</li>
                  <li>3:Manhattan</li>
                  <li>4:Queens</li>
                  <li>5:Staten Island</li>
                </ul>  
                Available chartid: 
                <ul>
                  <li>asthma</li>
                  <li>fineparticles</li>
                  <li>nox</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>/api/get_truck_route_data</td>
              <td>All the available truck route data in json format</td>
            </tr>
          </tbody>
        </table>

        <hr>
        <p>Project by Maha Salman Cheema, Rachel Woodill, and Zhao Wen</p>
      </div>
    </div>
    <!-- JavaScript files -->
    <!--<script src="static/data/geojson2005.json"></script>-->
    <!-- bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

        
    <script src="static/js/config.js"></script>
    <script src="static/js/logic.js"></script>
  </body>
</html>
